.profile {
  &__frame {
    position: relative;
  }

  &__picture {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }

  &__wrapper {
    position: relative;
    width: 230px;
  }
}

.image__upload {
  display: none;
}
