@import '../../assets/styles/common';

.profile {
  &__info {
    display: flex;
    margin-bottom: 10px;
    margin-left: 5%;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    width: 100%;
  }

  &__button {
    cursor: pointer;

    &-twitch {
      @extend .profile__button;

      margin-left: 8px;
    }

    &-facebook {
      @extend .profile__button;

      margin-right: 8px;
    }
  }

  &__user-data {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
  }

  &__user-name {
    margin-bottom: 0;
  }

  &__user-type {
    color: $gray-light;
  }

  &__user-socials {
    display: flex;
    align-self: center;
    margin-left: 20px;
  }

  &__avatar {
    margin: auto 0;
  }
}
