@import '../../../assets/styles/common';
// TODO: refactor
.auth-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

  &__icons {
    margin-left: 10px;
    cursor: pointer;
  }

  .facebook {
    margin-left: 22px;
  }

  .youtube {
    margin-left: 22px;
  }
}
