.root {
  border: 2px solid rgb(190, 195, 210);
  border-radius: 35px;
  background-image: linear-gradient(rgb(0, 22, 104), rgb(6, 0, 78), rgb(6, 0, 42));
}

.register {
  width: 700px;
  border: 2px solid rgb(190, 195, 210);
  border-radius: 35px;
  background-image: linear-gradient(rgb(0, 22, 104), rgb(6, 0, 78), rgb(6, 0, 42));
}

.report {
  width: 700px;
  max-width: 700px;
  height: 700px;
  border: 2px solid rgb(190, 195, 210);
  border-radius: 35px;
  background-image: linear-gradient(to right, rgb(163, 0, 0), rgb(173, 16, 11), rgb(187, 36, 25));
}

.donate {
  width: 35%;
  padding: 30px;
  border: 2px solid rgb(190, 195, 210);
  border-radius: 15px;
  background-image: linear-gradient(rgb(0, 22, 104), rgb(6, 0, 78), rgb(6, 0, 42));
}

.forgot {
  width: 700px;
  border: 2px solid rgb(190, 195, 210);
  border-radius: 35px;
  background-image: linear-gradient(rgb(0, 22, 104), rgb(6, 0, 78), rgb(6, 0, 42));
}
