@import '../../assets/styles/common';

.profile {
  &__frame {
    position: relative;
    width: 197px;
    height: 190px;
    cursor: pointer;
  }

  &__loader {
    position: absolute;
    top: 77px;
    left: 95px;
  }

  &__picture {
    position: absolute;
    top: 18px;
    left: 40px;
    width: 155px;
    height: 155px;
    border-radius: 50%;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    width: 230px;
    height: 190px;
    margin: 0 auto;
  }

  &__upload {
    &-img-text {
      top: 100%;
      left: 0;
      width: 298px;
      height: 16px;
      margin: auto;
      font-size: 16px;
      color: $red;
    }

    &-avatar {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      text-align: center;

      &-label {
        display: block;
        font-family: $lato;
        font-style: Italic;
        font-size: 23px;
        color: $white;
        text-align: center;
        opacity: 1;
        letter-spacing: 0;
      }
    }
  }
}

.image__upload {
  display: none;
}
