.right-menu {
  position: absolute;
  right: -398px;
  z-index: 1;
  box-sizing: border-box;
  width: 398px;
  height: 100%;
  padding: 38px 32px 70px 40px;
  background: #06002a 0% 0% no-repeat padding-box;
  box-shadow: 0 7px 9px #000000bf;
  transition: right .5s;

  &__open {
    right: 0;
  }

  &-links {
    margin-top: 28px;
    margin-left: 35px;
  }
}
