@import '../../assets/styles/common';

.register {
  color: $red;

  &-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: -webkit-fill-available;
    margin: auto;
    background-size: cover;
  }

  &__title {
    margin-top: 50px;
    font-weight: 50;
    font-size: 30px;
  }

  &__divider {
    height: 7px;
    margin: auto;

    &-top {
      @extend .register__divider;

      background-image: linear-gradient($white, $gray);
    }

    &-bottom {
      @extend .register__divider;

      background-image: linear-gradient($gray, $white);
    }
  }
}
