@import '../../assets/styles/common';

.create-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;

  &__header {
    margin-top: 90px;
    font-family: $lato;
    font-style: Italic;
    font-size: 43px;
    text-align: center;
  }
}
