@import '../../assets/styles/common';

body {
  font-family: 'Lato', sans-serif;
}

.profile {
  &-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
  }

  &-footer {
    height: 260px;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    background-image: linear-gradient($blue-darker, $black-blue);
  }

  &-header {
    display: flex;
    height: 260px;
    margin: auto;
    background-image: linear-gradient($black-blue, $blue-darker);
  }

  &-page {
    display: flex;
    height: 733px;
    margin: auto;
    background-image: url('../../assets/images/background.png');
    background-size: cover;
  }
}
