.login {
  color: red;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height:-webkit-fill-available;
  margin: auto;
  background-image: url('../../assets/images/profile/profile_bg.svg');
  background-size: cover;
}

.login-title {
  margin-top:50px;
  font-weight: 50;
  font-size: 30px;
  color: white;
}

.login-divider {
  height:7px;
  margin: auto;

  &__top {
    @extend .login-divider;

    background-image: linear-gradient(#ffffff, #5e5f61);
  }

  &__bottom {
    @extend .login-divider;

    background-image: linear-gradient(#5e5f61, #ffffff);
  }
}
