$avatarFrame_wh: 110px;
$avatar_w: 90px;

.avatar {
  &__img {
    position: initial;
    width: $avatar_w;
    height: $avatar_w;
    margin: 10px 0 0 11px;
    border-radius: 50px;
    object-fit: cover;
  }

  &__frame {
    position: absolute;
    width: $avatarFrame_wh;
    height: $avatarFrame_wh;
  }

  &__wrapper {
    position:relative;
    width: $avatarFrame_wh;
  }
}
