@import '../../assets/styles/common';

.forgot {
  &-button-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 20px;
    text-align: center;
  }

  &-register {
    font-style: italic;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__input {
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }

  &-result {
    width: 350px;
    margin-bottom: 20px;
    color: $green;
  }

  &-subheader {
    margin-top: 10px;
    margin-bottom: 10px;
    color: $blue-light;
  }

  &-title {
    margin-top: 50px;
    font-weight: 50;
    font-size: 30px;
  }
}
