.forgotpassword-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -webkit-fill-available;
  color: white;

  &__content {
    max-width: 50%;
  }
}

.forgot-result {
  width: 350px;
  color: green;
}

.forgot-title {
  margin-top:50px;
  font-weight: 50;
  font-size: 30px;
  color: white;
}

.forgot-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  &__input {
    margin-top: 6px;
    margin-bottom: 6px;
    color:white;
  }
}

.forgot-button-container {
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
  text-align: center;
}

.forgot-subheader {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #3399ff;
}
