// Declare color constants with rgb() and comment at end of line with their hex equivalent.

$black: rgb(0, 0, 0); // 000000
$black-blue: rgb(1, 0, 42); // 01002a
$brighter-gray: rgb(136, 136, 136); // 888888
$brown: rgb(41, 41, 41); // 292929
$darker-gray: rgb(85, 85, 85); // 555555
$eggshell: rgb(221, 222, 223); // dddedf
$gray: rgb(94, 95, 97); // 5e5f61
$green: rgb(0, 255, 98); // 00ff62
$blue-light: rgb(51, 153, 255); // 3399ff
$blue-lighter: rgb(12, 71, 135); // 0c4787
$blue: rgb(0, 22, 104); // 001668
$blue-darker: rgb(0, 23, 83); // 001753
$blue-dark: rgb(6, 0, 78); // 06004e
$blue-dark-two: rgb(3, 22, 46); // 03162e
$blue-darkest: rgb(6, 0, 42); // 06002a
$red: rgb(255, 0, 0); // ff0000
$white: rgb(255, 255, 255); // ffffff

$input-blue: rgb(0, 0, 51); // 003
$input-blue-glow: rgba(51, 153, 255, 0.23);
$input-green: rgb(67, 235, 2); // 43eb02
$input-green-glow: rgba(67, 235, 2, 0.23);
