$dashboard__header: 22px;
$dashboard__header-category: 30px;
$dashboard__view-more: 23px;

// pc = preview card
$pc-desc-content-username: 25px;
$pc-desc-content-game-and-description: 21px;
$pc-desc-content-viewers: 16px;

$pc-status: 54.22px;
$pc-status-blt: 45.306px;

$preferenceHeaderSize: 60px;
$preferencesChildHeader: 37.78px;
$preferencesLabel: 14px;

$expandIcon: 40px;

$preferencesUserSearch: 23px;
$preferencesBountyText: 12px;
