@import './colors';
@import './fonts';
@import './fontSizes';
@import './layout';
@import './mixins-functions';

* {
  color: $white;
  scrollbar-color: $darker-gray transparent;
}

html, body {
  @include bg-gradient;

  width: 100vw;
  min-width: 100%;
  height: 100%;
  margin: 0;
}

.body {
  display: inline-flex;
  min-width: 100%;
  height: $height__body;
  min-height: 100vh;
}

#content {
  display: inline-flex;
  flex-direction: column;
  min-width: 100%;
  min-height: $height__content;
  white-space: pre-line;
}

.divider {
  height: 5px;

  &-radial {
    @extend .divider;

    background-image: radial-gradient($white, $black);
  }

  &-linear {
    height: 7px;

    &--top {
      background-image: linear-gradient($white, $gray);
    }

    &--bottom {
      background-image: linear-gradient($gray, $white);
    }
  }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: $white;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $brighter-gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $darker-gray;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

//remove number dial for number textfield inputs
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
