.btnLogin {
  background-image: linear-gradient(to right, rgb(12, 71, 135), rgb(3, 22, 46));
}

.btnLogin:disabled {
  background-image: none;
}

.btnBack {
  background-image: linear-gradient(to right, rgb(12, 71, 135), rgb(3, 22, 46));
}
