.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #03162e;

  &--header {
    font-family: 'Lato', sans-serif;
    font-weight: 50;
    font-size: 30px;
    color: white;
  }

  &--container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 340px;
    margin-bottom: 10px;
    padding-bottom: 0;
  }

  &--body {
    transform: translate(0, 50px);
    width: 90%;
    height: 100%;
    padding: 0;
    text-align: center;
  }
}

.form-button-wrapper {
  flex-direction: row-reverse;
  padding: 0;
}

.form-button {
  width: 25%;
  margin: 0;
  margin-left: 50px;
  color: white;
}

.back-button {
  width: 15%;
  margin: 0;
  color: white;
}

.label {
  margin-bottom: 5px;
  text-align: left;

  &__black {
    margin-bottom: 5px;
    color: black;
  }
}

.form-input {
  height: 85px;
  margin: 0;
}

.signup-link {
  width: 50%;

  &--text {
    color: white;
  }
}

.loader {
  width: 24px;
  height: 24px;
}

#content {
  width: 100%;
  height: 100%;
}
