.input {
  height: auto;
  margin-left: 51px;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.input::placeholder {
  font-size: 15px;
  color: rgb(61, 165, 243);
  opacity: 1;
}

.input input {
  color: white;
}

.root {
  height: 52px;
}

.text {
  color: white;
}
