@import '../../assets/styles/colors';

.signup-input {
  flex-direction: initial;
  width: fit-content;
  height: 90px;

  &__form {
    height: 54px;
  }

  &__txt {
    bottom: 57px;
    left: 40px;
    width: 370px;
    height: 54px;
    padding: 0;
    color: $white;
    text-align: center;
  }
}
