.MuiInputBase-root-25 {
  color: white;
}

.profileform-title {
  margin-bottom:50px;
  font-weight: 50;
  font-size: 30px;

  &__activelinked {
    @extend .profileform-title;

    color: white;
  }
}

.profileform-next {
  height: 135px;
  cursor: pointer;
}

.profileform-email {
  background-image: url('../../../assets/images/profile/email.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 446px;
}

.profileform-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.profileform-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.profileform-outer {
  display: flex;
  flex-direction: row;
}

.profileform-inner {
  display: flex;
  flex-direction: column;
  width: 397px;
}

.email-text {
  width: 340px;
  margin-left: 20px;
}

.profileform__helper {
  color: #3399ff;
}

.profileform-navigation {
  display: flex;
  margin-top: 16px;

  &__1 {
    @extend .profileform-navigation;

    justify-content: flex-end;
  }

  &__2 {
    @extend .profileform-navigation;

    justify-content: center;
  }
}

.profileform-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:16px;
}
