.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  &__input {
    margin-top: 6px;
    margin-bottom: 6px;
    color:white;
  }
}

.login-error {
  width: 350px;
}

.login-success {
  color: green;
}

.register-textlink {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.login-button-container {
  position: relative;
  color: white;
  text-align: center;
}

.login-button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
