@import '../../../assets/styles/common.scss';

.login {
  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__input {
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }

  &__btn {
    &-container {
      position: relative;
      padding-top: 25px;
      text-align: center;
    }

    &-txt {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.goregister__link {
  padding-left: 5px;
  text-decoration: underline;
  cursor: pointer;
}

.register {
  &__text-link {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
